*.orig
client/**/*.js
client/**/*.map
docker/node.js/node_modules/
docker/node.js/dist/
docker/node.js/package-lock.json
docker/node.js/Dockerfile
docker/node.js/.dockerignore
docker/jenkins/jenkins_home/
docker/jenkins/Dockerfile
