*.orig
*.log
client/src/**/*.js
client/src/**/*.map
client/node_modules/
client/test/**/*.js
client/test/**/*.map
client/test/reports/
client/test/screenshots/
docker/node.js/node_modules/
docker/node.js/dist/
docker/node.js/package-lock.json
docker/node.js/Dockerfile
docker/node.js/.dockerignore
docker/jenkins/jenkins_home/
docker/jenkins/Dockerfile